<!DOCTYPE html>
<html ng-app>
  <head>
    <title>JavaScript &amp; jQuery - Chapter 9: APIs - Simple Angular Example</title>
    <link rel="stylesheet" href="css/c09.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  </head>
  <body>
    <header><h1>THE MAKER BUS</h1></header>
    <div class="third">
      <p class="welcome">Tell your friends to join us for an awesome day of tinkering with the Maker Bus...</p>
      <form>
        To:<br>
        <input ng-model="name" type="text" /><br>
        Message:<br>
        <textarea ng-model="message"></textarea>
        <input type="submit" value="send message" />
      </form>
    </div>
    <div class="two-thirds">
      <div class="postcard">
        <div>{{ name }}</div>
        <p>{{ message }}</p>
      </div>
    </div>
  </body>
</html>

<!-- This page shows how to use Angular to take input from one part of the page and to update another part of the page with no additional Javascript or jQuery -->
<!-- The opening <html> tag and each of the opening input tags have an 'ng-' attribute in them that control how the inputs work -->
<!-- The ng-app property is placed on the root element of the page and is used to tell the page that it is including Angular -->
<!-- The ng-model property designates specific elements that will be using Angular as part of their function -->
